body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", "Arial", "微軟正黑體", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-bg-color;
  font-size: 15px;
}

a {
  color: $link-color;
  text-decoration: none;
}

*:focus {
  outline: none;
}

p, ul, li {
  line-height: 1.5;
}


input {
  box-sizing: border-box;
}

// =================== app ======================

.app {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  color: $text-color;
}

.app-logo {
  height: 30vmin;
}

// =================== app-header ======================

.app-header {
  min-height: $header-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $header-bg-color;

  &__container {
    display: flex;
    padding: 20px;
    width: $app-width;
  }

  &__logo {
    font-size: 22px;
    font-weight: bold;
  }

  &__nav {
    flex: 1 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    font-size: 15px;
  }

  &__nav-item {
    margin-left: 10px;
    & > a {
      text-decoration: none;
    }

    &--active {
      font-weight: bold;
      color: $link-acitve-color;
    }
  }
}

// =================== app-body ======================

.app-body {
  display: flex;
  justify-content: center;

  &__container {
    display: block;
    padding: 0px 20px 20px 20px;
    width: $app-width;
  }
}

// =================== input ======================

.tp-radio {
  &__label {
    padding-left: 5px;
  }
}

.tp-checkbox {
  &__label {
    padding-left: 5px;
  }
}

// =================== components ======================

.tp-loader {
  padding: 20px 0;
  &__container {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 10px;
  }
  &__item {
    position: absolute;
    top: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $loader-bg-color;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    &:nth-child(1) {
      left: 1px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 1px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(3) {
      left: 16px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(4) {
      left: 29px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(15px, 0);
    }
  }
}

.tp-bundary {
  font-size: 16px;
  border: 1px dashed $bundary-color;
  margin: 15px 0;
  padding: 20px 10px 10px 10px;
  position: relative;
  background: $bundary-bg-color;
  color: $text-color-dark;

  &__tag {
    color: $bundary-color;
    position: absolute;
    right: 10px;
    font-size: 12px;
    top: 5px;
  }
}

.tp-section {
  font-size: 16px;
  background: rgb(207, 207, 207);
  padding: 15px;
  margin-top: 20px;
  border-radius: 6px;
  color: $text-color-dark;
}

.tp-table {
  $border: black 1px solid;

  border: $border;
  border-collapse: collapse;
  width: 100%;
  text-align: center;

  &__th, &__tr, &__td {
    border: $border;
    padding: 5px;
  }
}

.tp-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;

  &__row {
    padding: 10px 0;
    display: flex;
    flex-direction: row;

    &--right {
      flex-direction: row-reverse;
    }
  }

  &__label {
    width: 25%;
   font-weight: bold;
  }

  &__field {
   flex: 1;
    > input {
      width: 100%
    }
  }

  &__error {
    text-align: right;
    color: $text-color-error;
    padding-top: 3px;
    font-size: 13px;
  }
}

.tp-count-down-timer {
  font-family: 'Share Tech Mono', monospace;
  color: #daf6ff;
  text-shadow: 0 0 10px rgba(10, 175, 230, 1),  0 0 10px; 
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid;
  display: table;
  width: auto;
  border-radius: 5px;
  background: $body-bg-color;

  &__time {
    letter-spacing: 0.05em;
    font-size: 60px;
    padding: 5px 0;
  }

}


// =================== other ======================

.tp-desc {
  font-size: 15px;
}

.tp-hint {
  padding-top: 5px;
  font-size: 13px;
  line-height: 1.5;
  color: $hint-color;
}

.tp-tag {
  padding: 0 5px;
  margin: 0 3px;
  border-radius: 2px;
  border: 1px solid rgb(109, 109, 109);
  display: inline-block;
}

.tp-code {
  padding: 5px;
  font-size: 10px;
  border-radius: 2px;
  border: 1px dashed;
}