$app-header-height: 70px;
$app-footer-height: 70px;
$app-footer-height-expand: 250px;

$primary-color: rgb(23, 38, 51);
$secondary-color:  rgb(255,90,96);
$tertiary-color: rgb(70, 70, 70);
$overlay-color: rgba(0, 0, 0, .5);
$body-bg-color: rgb(240, 240, 240);


