$app-width: 1024px;
$header-height: 60px;

$header-bg-color: rgb(42, 42, 45);
$body-bg-color: rgb(23, 38, 51);
$text-color: rgb(240, 240, 240);
$text-color-dark: rgb(0, 0, 0);
$text-color-error: rgb(246, 46, 46);
$link-color: rgb(9, 211, 172);
$link-acitve-color: rgb(22, 246, 204);
$hint-color: rgb(26, 55, 153);
$bundary-color: rgb(153, 0, 51);
$bundary-bg-color: rgb(255, 255, 204);
$loader-bg-color: rgb(122, 131, 223)


